.btmnav {
    /* text-align: center; */
    padding: 2% 0;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.35em;
    background-color: black;
    color: white;
    letter-spacing: 1px;
}

@media only screen and (max-width:400px) {
    .btmnav {
        font-size: 1.1em;
        gap: 0;
        letter-spacing: 0;
        padding: 5% 0;
    }

    img#craftimg {
        width: 28%;
    }
}