.genHeader {
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: underline;
    /* margin-bottom: 0.5%; */
    margin-top: 1.75%;
    text-align: center;
}

.formDataSub {
    text-align: end;
}

.formDataSub button {
    background-color: #1cabe2;
    padding: 6px 14px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}