.homecontent {
    display: flex;
    width: 100%;
    margin-top: 4%;
    gap: 2em;
}

.fillDetails {
    width: 25%;
}

.whatsnew {
    width: 75%;
    text-align: center;
}

.additionalCnt {
    width: 25%;
}

button.service_btn {
    border: none;
    background: none;
    font-weight: 450;
    letter-spacing: 1px;
}

.accordion-body {
    padding: 0;
}

span.detailsfill {
    margin-left: 4%;
}

@media screen and (max-width:780px) {
    .fillDetails {
        width: 100%;
    }

    .whatsnew {
        width: 100%;
    }

    .homecontent {
        flex-direction: column;
        gap: 2em;
    }
}