body {
    /* background-color: #f8f8f8; */
}

.App {
    padding: 0 14%;
}

.fade.alert.alert-danger.alert-dismissible.show {
    position: fixed;
    top: 10%;
    left: 10%;
}

@media only screen and (max-width:770px) {
    .App {
        padding: 0;
    }
}

@media only screen and (max-width:580px) {
    .App {
        padding: 0 4%;
    }
}

@media only screen and (max-width:500px) {}